.contenedor-perfilUsuario {
  flex-grow: 1;
  background-image: url("/public/dark-bg.jpg");
  background-size: contain;
}

.contenedor-btnPerfilUsuario {
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.contenedor-infoPerfilUsuario {
  margin: 1rem;
  gap: 1rem;
  text-align: justify;
}
.datoUsuario {
  margin-bottom: 0.5rem;
}
.perfilUsuario {
  background-color: rgb(242, 242, 242);
  border-radius: 5%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.perfilUsuarioDos {
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(26, 53, 115, 0.6);
  background-color: rgb(226, 223, 223);
}
