.contenedor-modificar-usuario {
  display: grid;
  grid-template-rows: 6rem 4rem auto;
  grid-template-columns: 100vw;
  grid-template-areas:
    "header"
    "returnButton"
    "formulario-usuario";
  justify-items: center;
  align-content: center;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vw;
  position: relative;
  background-image: url("../../../public/dark-bg.jpg");
  background-size: contain;
  padding-bottom: 2rem;
}

.form-modificar-usuario {
  grid-area: formulario-usuario;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 1rem;
  padding-bottom: 0;
  background-color: azure;

  align-self: flex-start;
  box-shadow: 2px 2px 5px rgba(26, 53, 115, 0.6);
  background-color: rgb(226, 223, 223);
  border-radius: 5px;
  gap: 0.5rem;
}

.form-modificar-usuario > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.div-fotoUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
}
#image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

#modificar-usuario input {
  height: 1.5rem;
}

#modificar-usuario input {
  width: 12rem;
  border: none;
  box-shadow: 2px 2px 3px inset rgba(26, 53, 115, 0.4);
  background-color: rgb(222, 226, 248);
  border-radius: 3px;
}

#modificar-usuario textarea {
  resize: none;
  height: 8rem;
  width: 16rem;
  border: none;
  box-shadow: 2px 2px 3px inset rgba(26, 53, 115, 0.4);
  background-color: rgb(222, 226, 248);
  border-radius: 3px;
}

.cambiar-biografia label {
  font-weight: bold;
}

.file-upload-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem;
  gap: 0.5rem;
}

.file-upload-component input {
  font-size: 0.8em;
}

.div-contraseña {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  gap: 0.2rem;
  padding-top: 0.8rem;
}

.div-contraseña label {
  margin-top: 0.3rem;
}

.div-contraseña input {
  width: 80%;
  height: 1.5rem;
  border: none;
  box-shadow: 2px 2px 3px inset rgba(26, 53, 115, 0.4);
  background-color: rgb(222, 226, 248);
  border-radius: 3px;
}
.guardar-cambios {
  grid-area: divGuardarCambios;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.div-delete-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding: 0.8rem 0;
  width: 100%;
}

.div-delete-usuario label {
  font-style: italic;
}

.verificar-correo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

#deleteUserEmail {
  height: 2rem;
}

.verificar-correo .borrarUsuario {
  font-size: 0.8em;
}

.verificar-correo .error {
  font-size: 0.6em;
  text-align: center;
  color: crimson;
  font-style: italic;
}

.labelConfirmPassword,
.labelNewPassword {
  font-weight: bold;
}
#input-confirmPassword {
  margin-bottom: 0.3rem;
}

#modificar-usuario {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding: 0.9rem;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(26, 53, 115, 0.4);
}

#modificar-usuario legend {
  background-color: rgb(242, 242, 242);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  text-align: center;
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

#modificar-usuario div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

#modificar-usuario div label {
  margin-top: 0.3rem;
}

.btn-guardar-cambios {
  margin: 1rem 0;
}

.borrarUsuario {
  background-color: red;
  color: rgb(252, 250, 250);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 16px;
}
.borrarUsuario:hover {
  background-color: rgb(226, 17, 17);
  box-shadow: 2px 2px 3px inset rgba(0, 0, 0, 0.5);
}
@media (min-width: 600px) {
  .contenedor-modificar-usuario {
    display: grid;
    grid-template-rows: 6rem 4rem auto;
    grid-template-columns: 100vw;
    grid-template-areas:
      "header"
      "returnButton"
      "formulario-usuario";
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 87vh;
    position: relative;
    background-image: url("../../../public/dark-bg.jpg");
    background-size: contain;
    padding-bottom: 2rem;
  }

  .form-modificar-usuario {
    grid-area: formulario-usuario;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: flex-start;
    background-color: azure;
    height: 100%;
    align-self: flex-start;
    box-shadow: 2px 2px 5px rgba(26, 53, 115, 0.6);
    background-color: rgb(226, 223, 223);
    border-radius: 5px;
    gap: 0.5rem;
    grid-template-areas:
      "formFieldsetUsuario divFotoUsuario"
      "formFieldsetUsuario divContraseña"
      "divGuardarCambios divDeleteUsuario";
    width: 600px;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  #image {
    width: 150px;
    height: 150px;
  }
  .form-fieldset-usuario {
    grid-area: formFieldsetUsuario;
  }
  .form-modificar-usuario > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .div-fotoUsuario {
    grid-area: divFotoUsuario;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    border: 2px dotted rgba(13, 14, 44, 0.3);
  }

  .div-contraseña {
    grid-area: divContraseña;
    min-width: 100%;
    display: flex;
    align-items: center;
  }
  .btn-cambiar-contraseña {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 12rem;
  }
  .guardar-cambios {
    grid-area: divGuardarCambios;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
  }
  .btn-guardar-cambios {
    display: flex;
    align-items: center;
  }
  .div-delete-usuario {
    grid-area: divDeleteUsuario;
  }
}
