.header {
  position: fixed;
  max-width: 100%;
  min-width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(214, 228, 245) 15%,
    rgb(161, 172, 231) 30%,
    rgb(96, 110, 165) 50%,
    rgb(161, 172, 231) 70%,
    rgb(214, 228, 245) 85%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 0 3px 3px rgba(71, 70, 146, 0.8);
}

.logo {
  padding-top: 0.5rem;
  max-width: 4rem;
}

.navBar-usuario {
  max-height: 100%;
  max-width: 100%;
}

.login-register-navbar ul {
  padding: 0.3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.navBar-usuario .info-usuario-header {
  padding: 0.3rem;
  gap: 0.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#nombre-usuario-navBar {
  color: #153d5f;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#login,
#register {
  border-radius: 10px;
  padding: 8px 7px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: colorChange 2s infinite alternate;
  align-content: center;
}
.li-user-icon {
  display: flex;
  flex-direction: column;
  gap: 4.5px;
  position: relative;
}

.user-icon {
  position: relative;
  overflow: hidden;
  border: 1.5px solid rgb(39, 48, 172);
  border-radius: 50%;
  height: 56.5px;
  width: 56.5px;
}

.user-icon:hover {
  transform: scale(0.9);
}

.user-icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 600px) {
  .header ul {
    flex-direction: row;
  }
  #nombre-usuario-navBar {
    color: #153d5f;

    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
}

@media (min-width: 900px) {
  .navBar-usuario .info-usuario-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 1.5rem;
    margin-right: 4rem;
  }
  .user-icon {
    height: 80px;
    width: 80px;
  }
}
