.contenedor-homePageLog {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-areas:
    "header"
    "contenedor"
    "paginate";
  max-width: 100vw;
  position: relative;
  flex: 1 1 auto;
  height: 1px;
  background-image: url("/dark-bg.jpg");
  background-size: contain;
}

.contenedor-filtros {
  grid-area: segundoNav;
}

.paginate {
  min-width: 100%;
}

.divContenedorNoticias {
  min-width: 100%;
}

.divContenedorNoticias > h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contenedor-log {
  margin-top: 6rem;
  grid-area: contenedor;
  display: grid;
  grid-template-rows: 5rem 7rem 5rem auto;
  grid-template-areas:
    "segundoNav"
    "contenedorTemasTiempo"
    "noticiasAcciones"
    "contenedorNoticias"
    "paginate";
  overflow: auto;
}

.contenedor-noticiasLogueado {
  height: 100%;
  background-size: contain;
  padding: 1rem;
  grid-area: contenedorNoticias;
}

.contenedor-noticiasLogueado > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noticias-acciones {
  grid-area: noticiasAcciones;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.7rem;
  height: 5rem;
  width: 100vw;
}

.ulAcciones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  list-style: none;
}

.ulAcciones li {
  width: 100%;
  border: 2px solid rgb(83, 92, 170);
  border-radius: 6px;
}

.ulAcciones li button {
  height: 3rem;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(161, 172, 231);
  border: 1px solid rgba(3, 3, 29, 0.7);
  box-shadow: -2px 2px 2px rgba(23, 49, 66, 0.7);
  font-size: 0.9em;
}

.ulAcciones li button p {
  color: rgb(255, 255, 255);
}

.ulNoticiasValoradas {
  border-width: 5rem;
  border-radius: 5px;
  list-style: none;
}

img {
  max-width: 18rem;
}

.paginate {
  grid-area: paginate;
}
@media (min-width: 600px) {
  .contenedor-log {
    display: grid;

    grid-template-rows: 5rem 5rem auto 3rem;
    grid-template-columns: 70% 30%;
    grid-template-areas:
      "segundoNav segundoNav"
      "noticiasAcciones contenedorTemasTiempo"
      "contenedorNoticias contenedorTemasTiempo"
      "paginate paginate";
    overflow-x: hidden;
  }

  .ulAcciones {
    gap: 5rem;
  }

  .noticias-acciones {
    margin-left: 1rem;
    border-radius: 17px;
    max-width: 100%;
  }

  .contenedor-noticiasLogueado {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-image: none;
  }

  .contenedor-temas {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10.5rem;
    max-height: 26.2rem;
    max-width: 10.5rem;
    list-style: none;
    border: 1px solid rgba(5, 16, 53, 0.5);
    border-radius: 5px;
    background-color: #bbc4f1;
  }

  .contenedor-temas button {
    width: 9rem;
  }

  .tiempo {
    max-height: 26.2rem;
    max-width: 10.5rem;
    max-width: 85%;
    border-radius: 5%;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
    min-width: 15%;
  }

  .buscador-input {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .buscador-input > form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .titulo {
    width: 100%;
    height: 1.7rem;
  }

  .ultimas-noticias button {
    width: 100%;
  }

  .ultimas-noticias button p {
    font-size: 1.1rem;
  }

  .contenedor-noticias div h3 {
    font-size: 1.3em;
  }

  .buscador-input {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .buscador-input > form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .titulo {
    width: 100%;
    height: 1.7rem;
  }

  .ultimas-noticias {
    width: 45%;
  }

  .ultimas-noticias button {
    width: 100%;
  }

  .ultimas-noticias button p {
    font-size: 0.8rem;
    width: 100%;
  }

  .noticias-valoradas button p {
    font-size: 0.8rem;
    width: 100%;
  }

  .noticias-valoradas {
    width: 45%;
  }

  .noticias-valoradas button {
    width: 100%;
  }

  .noticias button p {
    font-size: 1rem;
  }

  .contenedor-noticiasLogueado div h3 {
    font-size: 1.7em;
  }
}

@media (min-width: 900px) {
  .noticias-acciones {
    justify-content: flex-end;
    padding-right: 2rem;
  }

  .contenedor-noticiasLogueado {
    margin-left: 8rem;
  }
}

@media (min-width: 1200px) {
  .noticias-acciones {
    padding-right: 6rem;
  }
}
